.go-to-top {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    @include flex-center-row;
    position: fixed;
    bottom: 4rem;
    left: 2rem;
    font-size: 1.5rem;
    background-color: lighten($color-black, 10%);
    color: white;
    cursor: pointer;
    z-index: 999999;
    @include fade(hide);
    @include transition();

    &.shown {
        @include fade(show);
        left: 4rem;
    }
}