.toggler {
    width: 4.2rem;
    height: 2.2rem;
    position: relative;
    @include flex-between-column;
    cursor: pointer;
    display: none;
    z-index: 999999;

    @include breakpoint(tablet) {
        display: flex;
    }

    span {
        width: 100%;
        border-radius: 2rem;
        height: 0.3rem;
        display: block;
        background-color: lighten($color-black, 80%);
        @include transition();

        &.active {
            background-color: $color-black;
        }

        &[class^="toggle-"] {
            @include transition();
        }

        &.toggle-rotation-clockwise {
            transform: rotate(-45deg) translate(-0.4rem, 0.9rem);
            background-color: $color-black;
        }

        &.toggle-rotation-not-clockwise {
            transform: rotate(45deg) translate(-0.5rem, -0.9rem);
            background-color: $color-black;
        }

        &.toggle-fade {
            transform: translateX(-2rem);
            background-color: $color-black;
            @include fade("hide");
        }
    }
}
