.who-us {
    width: 100%;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 1rem;
    text-align: center;
    @include reset-bg;
    background-image: url("../assets/images/who-us.webp");

    &__logo {
        width: 15rem;
        margin-top: 6rem;
        margin-bottom: 3rem;
        margin-inline: auto;

        img {
            width: 80%;
            @include prefixing(object-fit, cover);
        }
    }

    &__desc {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.6;
        color: lighten($color-black, 5%);
    }

    &__paper {
        width: 100%;
        margin-top: 5rem;

        img {
            width: 100%;
            @include prefixing(object-fit, cover);
        }
    }
}
