
button-container{ 
display: flex;
align-content: center; 
justify-content: center;
 }

button{

cursor: pointer;
font-size: 1.2rem;
height: 2.5rem;
border:none;
border-radius: 10px;
color: #fff;
background-color: blue;
outline:none;
box-shadow: 0 0.3rem rgba(121,121,121,0.70);
 }

button:hover{
filter: brightness(110%);
 }

button:active{
transform:translate(0,0.3rem);
box-shadow: 0 0.1rem rgba(255,255,255,0.70);
 }